body {
  background-color: #ADD8E6;
}
h1 {
  color: #4B0082;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
}
a {
  color: #C71585;
}
li:before {
  content: "•";
  padding-right: 8px;
  color: #DB7093;
}
li {
  color: #8B008B;
  font-family: verdana;
  font-size: 20px;
  padding-left: 16px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    columns: 3;
  }
