@media only screen and {max-width: 1000px} {
.hero {
    padding: 50px 58px;
  }
}

* {
  box-sizing: border-box;
}
body {
  background-color: #8B4513;
  margin: 0;
}
h1{
  font-family: 'Texturina', serif;
  font-weight: lighter;
  font-size: 100px;
  text-align: center;
  color: white;
  margin-top: -150px;

}
h2{
  font-family: 'Texturina', serif;
  font-weight: lighter;
  font-size: 100px;
  text-align: center;
  color: white
}
h3{
  font-family: 'Texturina', serif;
  font-weight: lighter;
  font-size: 100px;
  text-align: center;
  color: white;
}
h4{
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  text-align: center;
  color: white;
  font-weight: lighter;
  text-decoration: underline;
  margin-bottom: -100px;  
}
p {
  font-family: 'Playfair Display', serif;
  color: white;
  font-weight: lighter;
}
.chapter{
  margin: 20px;
  text-align: center;
  font-size: 40px;
}
.body{
  margin-top: 30px;
  margin-left: 120px;
  margin-right: 120px;
  font-size: 15px;
}
.hero {
  background: url(../images/sh.jpg) no-repeat center center;
  background-size: cover;
  padding: 350px 100px;
}
