body {
	background-color: linear-gradient(-45deg, #E27D60, #85DCB,  #E8A87C, #C38D9E,#41B3A3 );

}
h1 {
  text-align: left;
  color: #4B0082;
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
}
li {
  color: #8B008B;
  padding-left: 16px;
  align-items:center;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  justify-content: center;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  columns: 2;
}
a {
    color: #C71585;
}
a:link {
  color: blue;
  text-decoration: underline;
}
a:visited {
  color: #DB7093;
}
a:hover {
  color: aqua;
  text-decoration: underline;
}
a:active {
  color: midnightblue;
}
