body {
  background-image: linear-gradient( #a0d2eb, #e5eaf5, #d0bdf4, #8458B3, #a28089 );
		background-size: 500% 500%;
}
h1 {
  text-align: center;
  bottom: -150px;
	position: relative;
  color: midnightblue;
  font-family: 'Mali', cursive;
  font-size: 80px;

}
h2{
  text-align: center;
  bottom: -120px;
	position: relative;
  color:  darkmagenta;
  font-family: 'Mali', cursive;
  font-size: 60px;
}
p {
    color: #8458B3;
    text-align: center;
    bottom: -200px;
    position: relative;
    font-family: 'Mali', cursive;
    font-size: 60px;
}
a:link {
  text-decoration: underline;
}
a:visited {
  color: lightseagreen;
}
a:hover {
  color: midnightblue;
  text-decoration: underline;
}
a:active {
  color: darkturquoise;
}
