body {
	background-color: linear-gradient(-45deg, #F8B195, #F67280, #C06C84, #6C5B7B,  #355C7D );

}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
h1 {
  text-align: center;
  vertical-align: bottom;
  postion: relative;
  bottom: -200px;
  color: #CC527A;
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;

}
h2{
  text-align: center;
  vertical-align: bottom;
  bottom: -150px;
  position: relative
  color: #355C7D ;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
}
p {
    color: #C71585;
    text-align: center;
    vertical-align: bottom;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
}
a:link {
  text-decoration: underline;
}
a:visited {
  color: #DB7093;
}
a:hover {
  color: aqua;
  text-decoration: underline;
}
a:active {
  color: midnightblue;
}
