* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #ada397;
}
/*layout of screen*/
h1 {
  font-family: 'Mali', cursive;
  color: midnightblue;
  font-size: 60px;
  margin: 20px 50px;
}
#main {
  margin: 0px 50px;
  background-color: plum;
}
a:link {
  font-family: 'Mali', cursive;
  font-size: 30px;
  text-decoration: underline;
}
a:visited {
  color: darkcyan;
}
a:hover {
  color: mediumvioletred;
}
li {
  color: mediumvioletred;
  list-style-type: closed circle;
  line-height: 50px;
}
/*checkerboard layout*/
.board {
  width: 900px;
  background-color: #f0f0f0;
  padding: 50px;
  display: flow-root;
  margin: 35px auto;
}
.red, .black {
  width: 100px;
  height: 100px;
  float: left;
}
.red {
  background-color: #eca1a6;
}
.black {
  background-color: #d5e1df;
}
/*Column Layout*/
.frame {
  width: 850px;
  display: flow-root;
  margin: 30px auto 0;
}
.header, .rec, .column, .footer {
  float: left;
}
.header {
  background-color: #92a8d1;
  height: 100px;
  width: 800px;
  margin-bottom: 25px;
}
.rec {
  background-color: #f7cac9;
  height: 25px;
  width: 800px;
  margin-bottom: 25px;
}
.center-margin{
  margin: 0 25px;
}
.column {
  background-color: #034f84;
  width: 250px;
  height: 600px;
  float: left;
  margin-right: 25px;
}
.footer {
  background-color: #f7786b;
  height: 100px;
  width: 800px;
  margin-top: 25px;
  margin-bottom: 10px;
}
/*Blog layout*/
.holder {
  width: 820px;
  display: flow-root;
  margin: 50px auto 0;
}
.head, .content, .ad, .bot, .divide {
  float: left;
}
.head {
  background-color: #92a8d1;
  height: 120px;
  width: 800px;
  margin-bottom: 100px;
}
.content {
  background-color: #f7cac9;
  height: 400px;
  width: 600px;
  margin-bottom: 15px;
}
.bot {
  width: 600px;
  height: 50px;
  margin: 0px auto;
  background-color: #034f84;
  border: 5px; 0px; solid white;
  float: left;
}
.ad {
  background-color: #f7786b;
  height: 200px;
  width: 190px;
  margin-left: 15px;
}
.divide {
  height: 55px;
  width: 800px;
  margin: 0px auto;
  background-color: black;
  border: 5px solid black;
}
