* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #ada397;
}
/*layout of screen*/
h1 {
  font-family: 'Mali', cursive;
  color: midnightblue;
  font-size: 60px;
  margin: 20px 50px;
}
#main {
  margin: 0px 50px;
  background-color: plum;
}
a:link {
  font-family: 'Mali', cursive;
  font-size: 30px;
  text-decoration: underline;
}
a:visited {
  color: darkcyan;
}
a:hover {
  color: mediumvioletred;
}
li {
  color: mediumvioletred;
  list-style-type: closed circle;
  line-height: 50px;
}
/*checkerboard layout*/
.board {
  width: 900px;
  background-color: #f0f0f0;
  padding: 50px;
  display: flow-root;
  margin: 35px auto;
}
.red, .black {
  width: 100px;
  height: 100px;
  float: left;
}
.red {
  background-color: #eca1a6;
}
.black {
  background-color: #d5e1df;
}
/*Column Layout*/
.frame {
  width: 850px;
  display: flow-root;
  margin: 30px auto 0;
}
.header, .rec, .column, .footer {
  float: left;
}
.header {
  background-color: #92a8d1;
  height: 100px;
  width: 800px;
  margin-bottom: 25px;
}
.rec {
  background-color: #f7cac9;
  height: 25px;
  width: 800px;
  margin-bottom: 25px;
}
.center-margin{
  margin: 0 25px;
}
.column {
  background-color: #034f84;
  width: 250px;
  height: 600px;
  float: left;
  margin-right: 25px;
}
.footer {
  background-color: #f7786b;
  height: 100px;
  width: 800px;
  margin-top: 25px;
  margin-bottom: 10px;
}
/*Blog layout*/
/* blog layout */
.square {
  width: 820px;
  display: flow-root;
  margin: 30px auto 0;
}
.head, .content, .ad, .avatar, .line {
  float: left;
}
.head {
  background-color: #c8c3cc;
  height: 100px;
  width: 800px;
  margin-bottom: 50px;
}
.content {
  background-color: #563f46;
  height: 400px;
  width: 600px;
  margin-bottom: 25px;
}
.avatar {
  width: 600px;
  height: 50px;
  margin: 0px auto;
  background-color: #484f4f;
  border: 5px 0px;
  float: left;
}
.ad {
  background-color: #8ca3a3;
  height: 200px;
  width: 170px;
  margin-left: 25px;
}
.line {
  height: 55px;
  width: 800px;
  margin: 25px auto;
}
/* tennis layout */
.court {
  width: 700px;
  display: flow-root;
  margin: 35px 400px 35px;
}
.left {
  height: 400px;
  width: 100px;
  float: left;
  background-color:seagreen;
  border-style: solid;
  border-width: thick;
  border-color: white;
}
.top {
  width: 500px;
  height: 150px;
  float: left;
  background-color:seagreen;
  border-style: solid;
  border-width: thick;
  border-color: white;
}
.middle {
  width: 250px;
  height: 250px;
  float: left;
  border-style: solid;
  border-width: thick;
  border-color: white;
  background-color:mediumseagreen;
}
.right {
  width: 100px;
  height: 400px;
  float: left;
  background-color:seagreen;
  margin-top: -150px;
  border-style: solid;
  border-width: thick;
  border-color: white;
}
.secondright{
  width: 100px;
  height: 400px;
  float: left;
  background-color:seagreen;
  margin-top: -250px;
  border-style: solid;
  border-width: thick;
  border-color: white;
}
