* {
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: hidden;
}
main {
  width: 120vw;
  margin: -100px -12.5vw;
}
h1 {
  font-family: 'Mali', cursive;
  color: mediumvioletred;
  font-size: 70px;
  margin: 0px 35px;
}
a:link {
  font-family: 'Mali', cursive;
  font-size: 30px;
  text-decoration: underline;
  color: darkcyan
}
a:visited {
  color: teal;
}
a:hover {
  color: midnightblue;
}
li {
  color: mediumvioletred;
  list-style-type: square;
  line-height: 50px;
}
#p1 .shape1 {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 90px solid darkviolet;
  margin: -80px;
  float: right;
  opacity: .5;
}
#p1 .shape2 {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 5px solid transparent;
  border-top: 100px solid lightskyblue;
  margin: -20px;
  float: left;
  opacity: .5;
}
#p1 .shape3 {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid midnightblue;
  margin: -30px;
  float: left;
  opacity: .5;
}
#p1 .shape4 {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 0px solid transparent;
  border-top: 100px solid darkmagenta;
  margin: -50px;
  float: left;
  opacity: .5;
}
#p2 .shape1 {
  width:250px;
  height: 300px;
  background-color: midnightblue;
  margin: -70px;
  float: left;
  opacity: .5;
}
#p2 .shape2 {
  width: 200px;
  height: 200px;
  background-color: mediumvioletred;
  margin: -70px;
  float: left;
  opacity: .5;
}
#p2 .shape3 {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  margin: -70px;
  float: left;
  opacity: .5;
}
#p2 .shape4 {
  width: 150px;
  height: 150px;
  background-color: darkturquoise;
  margin: -70px;
  float: left;
  opacity: .5;
}
#p3 .shape1 {
  width: 350px;
  height: 300px;
  transform: skew(40deg);
  background-color: darkcyan;
  margin: -40px;
  float: left;
}
#p3 .shape2 {
  width: 400px;
  height: 450px;
  transform: skew(40deg);
  background-color: lightskyblue;
  margin: -40px;
  float: left;
}
#p3 .shape3 {
  width: 350px;
  height: 200px;
  transform: skew(40deg);
  background-color: blueviolet;
  margin: -40px;
  float: left;
}
#p3 .shape4 {
  width: 250px;
  height: 200px;
  transform: skew(40deg);
  background-color: dodgerblue;
  margin: -80px;
  float: left;
}
#p4 .shape1 {
  width: 100px;
  height: 100px;
  background: rosybrown;
  border-radius: 100px / 50px;
  margin: -60px;
  float: left;
  opacity: .7;
}
#p4 .shape2 {
  width: 200px;
  height: 100px;
  background: turquoise;
  border-radius: 100px / 50px;
  margin: -50px;
  float: left;
  opacity: .7;
}
#p4 .shape3 {
  width: 200px;
  height: 100px;
  background: blueviolet;
  border-radius: 100px / 50px;
  margin: -30px;
  float: left;
  opacity: .7;
}
#p4 .shape4 {
  width: 200px;
  height: 100px;
  background: darkcyan;
  border-radius: 100px / 50px;
  margin: -30px;
  float: left;
  opacity: .7;
}
#p5 .shape1 {
  width: 0;
  height: 0;
  border-top: 100px solid turquoise;
  border-right: 100px solid transparent;
  margin: -30px;
  float: left;
  opacity: .6;
}
#p5 .shape2 {
  width: 0;
  height: 0;
  border-bottom: 100px solid violet;
  border-left: 100px solid transparent;
  margin: -30px;
  float: left;
  opacity: .6;
}
#p5 .shape3 {
  width: 0;
  height: 0;
  border-bottom: 200px solid transparent;
  border-right: 200px solid darkblue;
  margin: -70px;
  float: left;
  opacity: .6;
}
#p5 .shape4 {
  width: 0;
  height: 0;
  border-top: 150px solid transparent;
  border-left: 150px solid cyan;
  margin: -50px;
  float: left;
  opacity: .6;
}
