* {
  box-sizing: border-box;
}
body {
  background-color: grey;
}
.pacman {
  width: 600px;
  height: 600px;
  margin-top: 50px;
  margin-left: 450px;
  border-radius: 50%;
  position: relative;
  background-color: yellow;
}
.pacman-eye {
  width: 70px;
  height: 70px;
  margin-top: 100px;
  margin-left: 300px;
  border-radius: 50%;
  position: absolute;
  background-color: black;
}
.pacman-bite {
  width: 100px;
  height: 0px;
  margin-top: 120px;
  margin-left: 300px;
  border-top: 180px solid transparent;
  border-bottom: 180px solid transparent;
  border-right: 300px solid grey;
  position: absolute;
}
.pacman-snack {
  width: 50px;
  height: 50px;
  margin-top: 500px;
  margin-left:7500px;
  border-radius: 50%;
  position: absolute;
  background-color: black;
}
