@media only screen and (max-width: 1000px) {
.col{
    width: 100%;
    height: 100px;
 }
.col2{
    width: 100%;
    height: 200px;
    margin: 60px;
 }
nav {
    font-size: 12px;
    text-align: center;
    margin-top: 50px;
 }
 footer{
   padding: 50px 100px;
 }
 img{
   width: 50%;
 }
.row {
   margin: -60px;
}
.hero {
    padding: 50px 50px;
 }
.hero h1 {
   font-size: 10px;
   text-align: center;
 }
.hero h2{
   font-size: 1px;
   text-align: center;
 }
.firstcontainer, .secondcontainer, .thirdcontainer{
  padding: 50px 50px;
 }
.first-txt {
  text-align: center;
 }
.second-txt{
   text-align: center;
   margin: -60px;
 }
.third-txt{
  text-align: center;
  margin-top: -160px;
}
.tagline{
   text-align: center;
   margin: -60px;
 }
.tagline2, .tagline3{
   text-align: center;
   margin: -60px;
 }
.button {
   text-align: center;
   margin: -60px;
 }
.button2 {
  text-align: center;
  margin: 65px;
}
.sub{
  text-align: center;
  margin: -90px;
}
.title {
    display: inline-block;
    width: 50px;
    height: 20px;
    padding-left: 5px;
 }
.sectionbreak{
  padding: 50px 20px;
 }
 .lines{
   text-align: center;
   margin: -60px;
 }
 .container h1{
   margin: -60px;
   margin-bottom: 100px;
   text-align: center;
 }
 .customers{
   margin: 20px;
 }
 .container h2{
   margin: -70px;
   text-align: center;
 }
}
* {
  box-sizing: border-box;
}
body {
    margin: 0;
}
header {
  background-color: black;
  display: flow-root;
  padding: 10px 50px;
}
nav {
  float: right;
  font-size: 20px;
  margin-top: 20px;
}
nav a, nav a:link, nav a:visited {
  text-transform: uppercase;
  font-style: underline;
  color: white;
}
nav a:hover{
  color: #E6BE8A;
}

footer {
  background-color: black;
  display: flow-root;
  padding: 50px 50px;
}
ul {
  padding: 0;
  list-style-type: none;
}
li {
  float: left;
  margin-left: 25px;
}
.hero {
  background: url(../images/background-3.jpg) no-repeat center center;
  background-size: cover;
  padding: 250px 100px;
}
.hero h1{
  text-align: center;
  max-width:100%;
  margin-top:0px;
  font-family: 'Kaushan Script', cursive;
  font-weight: lighter;
  font-size: 80.5px;
  color: #E6BE8A;
}
.hero h2{
  text-align: center;
  max-width:100%;
  font-family: 'Playfair Display', serif;
  font-size: 70.5px;
  color: white;
  bottom: 100px;
}
.firstcontainer {
  background: url(../images/background-1.jpg) no-repeat center center;
  background-size: cover;
  padding: 100px 100px;
}
.first-txt {
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-weight: lighter;
  font-size: 80.5px;
  color: #996515;
  margin-top: 20px;
  margin-bottom: 55px;
}
.tagline {
  text-align: center;
  font-weight: lighter;
  margin-top: 10px;
  margin-bottom: 100px;
  font-family: "Lato", serif;
  font-size: 30px;
  color: black;
}
.second-txt {
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-weight: lighter;
  font-size: 70.5px;
  color: #E6BE8A;
  margin-top: 0px;
  margin-bottom: 100px;
}
.tagline2 {
  font-weight: lighter;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 70.5px;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
}
.button {
  font-weight: lighter;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  color: white;
  margin-top: 100px;
}
.button a, .button a:link, .button a:visited {
  color: white;
  border-style: solid;
}
.secondcontainer {
  background: url(../images/food-2.jpg) no-repeat center center;
  background-size: cover;
  padding: 200px 100px;
}
.sectionbreak {
  background-color: white;
  padding: 150px 120px;
}
.sub{
  font-family: "Lato", serif;
  font-size: 40px;
  color: black;
  text-align: center;
}
.thirdcontainer {
  background: url(../images/food-3.jpg) no-repeat center center;
  background-size: cover;
  padding: 200px 100px;
}
.third-txt {
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-weight: lighter;
  font-size: 70.5px;
  color: #E6BE8A;
}
.tagline3 {
  font-weight: lighter;
  left: 250px;
  font-family: 'Playfair Display', serif;
  font-size: 65px;
  color: white;
  text-align: center;
}
.button2 {
  font-weight: lighter;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  color: white;
}
.button2 a, .button2 a:link, .button2 a:visited {
  color: white;
  border-style: solid;
}
.container {
  background: url(../images/coffee-1.jpg) no-repeat center center;
  background-size: cover;
  padding: 200px 100px;
}
.container h1{
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-weight: lighter;
  font-size: 80px;
  color: #E6BE8A;
}
.container h2{
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 80px;
  color: white;
  bottom: 100px;
}
.story{
  background-color: white;
  padding: 200px 200px;
}
.intro{
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-weight: lighter;
  font-size: 80px;
  color: #E6BE8A;
}
.year{
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
  font-size: 60px;
  color: black;
  text-align: center;
}
.lines{
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
  font-size: 40px;
  margin: 80px;
  color: black;
  text-align: center;
}
.button3 {
  font-weight: lighter;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  color: black;
}
.button3 a, .button3 a:link, .button3 a:visited {
  color: black;
  border-style: solid;
}
.customers h1{
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
  font-size: 40.5px;
  color: black;
  margin-top: 120px;
  margin-bottom: 100px;
  text-align: center;
}
.col{
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  color: black;
  margin-bottom: 100px;
  text-align: center;
  line-height: 30px;
}
.row{
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  color: white;
  text-align: center;
}
.col2 {
  float: left;
  width: 33.33%;
  padding: -10px;
  height: 100px;
}
.title {
  width: 280px;
  height: 35px;
  margin-left: -20px;
}
img{
  width: 100%;
}
