@media only screen and {max-width: 1000px}{
.hero h1,h2{
    width: 100%;
  }
  .hero{
    padding: 50px 58px;
  }
  .col-margin{
    margin:0;
  }
}
* {
  box-sizing: border-box;
}
body {
    margin: 0;
}
header {
  background-color: black;
  display: flow-root;
  padding: 10px 50px;
  position: relative;
}
nav {
  float: right;
}
nav a, nav a:link, nav a:visited {
  text-transform: uppercase;
  font-style: underline;
  color: #E6BE8A
}
footer {
  background-color: black;
  height: 15%;
  width: 100%;
  display: flow-root;
}
.head{
  color: white;
  margin-left: -600px;
  text-align:  center;
  font-size: 25px;
  font-family: "Playfair Display", sans-serif;
  margin-right: 600px;
  position: relative;
}
.subhead{
  position: relative;
  color: white;
  margin-right: 20px;
  font-size: 18px;
  text-align: center;
  margin-right: 600px;
  margin-left: -600px;
  font-family: "Playfair Display", sans-serif;
}
.head2{
  position: relative;
  color: white;
  top: 5px;
  font-size: 25px;
  text-align: center;
  bottom: 500px;
  font-family: "Playfair Display", sans-serif;
}
.subhead2{
  position: relative;
  color: white;
  text-align: center;
  font-size: 18px;
  font-family: "Playfair Display", sans-serif;
}
.head3{
  position: relative;
  color: white;
  font-size: 25px;
  text-align: center;
  bottom: 5px;
  font-family: "Playfair Display", sans-serif;
}
.subhead3{
  position: relative; 
  color: white;
  font-size: 18px;
  text-align: center;
  font-family: "Playfair Display", sans-serif;
}
ul {
  padding: 0;
  list-style-type: none;
}
li {
  float: left;
  margin-left: 25px;
}
.hero {
  background: url(../images/background-3.jpg) no-repeat center center;
  background-size: cover;
  padding: 350px 100px;
}
.hero h1{
  display: inline-block;
  position: absolute;
  text-align: center;
  max-width:100%;
  top:200px;
  left: 600px;
  font-family: 'Kaushan Script', cursive;
  font-weight: lighter;
  font-size: 80px;
  color: #E6BE8A;
}
.hero h2{
  display: inline-block;
  position: absolute;
  text-align: center;
  max-width:100%;
  left: 450px;
  font-family: 'Playfair Display', serif;
  font-size: 80px;
  color: white;
  bottom: 100px;
}
.firstcontainer {
  display: inline-block;
  position: relative;
  text-align: center;
  max-width:100%;
}
.first-txt {
  position: absolute;
  top: 50px;
  left: 600px;
  font-family: 'Kaushan Script', cursive;
  font-weight: lighter;
  font-size: 80px;
  color: #996515;
}
.tagline {
  position: absolute;
  top: 280px;
  margin-left: 300px;
  margin-right: 300px;
  font-weight: lighter;
  font-size: 80px;
  font-family: "Lato", serif;
  font-size: 20px;
  color: black;
  border-style: solid;
}
.second-txt {
  position: absolute;
  top: 80px;
  left: 570px;
  font-family: 'Kaushan Script', cursive;
  font-weight: lighter;
  font-size: 80px;
  color: #E6BE8A;
}
.tagline2 {
  position: absolute;
  font-weight: lighter;
  left: 470px;
  font-family: 'Playfair Display', serif;
  font-size: 80px;
  color: white;
  top: 280px;
}
.button {
  position: absolute;
  font-weight: lighter;
  left: 490px;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  color: white;
  top: 530px;
  border-style: solid;
}
.button a, .button a:link, .button a:visited {
  color: white;
}
.secondcontainer {
  display: inline-block;
  position: relative;
  text-align: center;
  max-width:100%;
}
.sectionbreak {
  background-color: white;
  padding: 150px 120px;
}
.sub{
  font-family: "Lato", serif;
  font-size: 50px;
  color: black;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
}
.thirdcontainer {
  position: relative;
  text-align: center;
  max-width:100%;
}
.third-txt {
  position: absolute;
  top: 30px;
  left: 470px;
  font-family: 'Kaushan Script', cursive;
  font-weight: lighter;
  font-size: 80px;
  color: #E6BE8A;
}
.tagline3 {
  position: absolute;
  font-weight: lighter;
  left: 250px;
  font-family: 'Playfair Display', serif;
  font-size: 80px;
  color: white;
  top: 230px;
}
.button2 {
  position: absolute;
  font-weight: lighter;
  left: 660px;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  color: white;
  top: 450px;
  border-style: solid;
}
.button2 a, .button2 a:link, .button2 a:visited {
  color: white;
}
footer{
  padding: 50px 100px;
}
}
.scene {
  max-width: 50%;
  max-height: auto;
  margin-right: 100px;
  margin-left: 700px;
  }
.end {
   max-width: 100%;
   max-height: 150%;
   margin-bottom:0px;
}
.six{
     text-align: center;
     font-family: "Lato", serif;
     margin-top: -220px;
     margin-bottom: 230px;
     margin-right: -1000px;
     color: white;
     font-size: 20px;
}
img {
  max-width: 100%;
  image-orientation: left;
}

.title {
  display: inline-block;
  width: 270px;
  height: auto;
  margin-right: 750px;
  padding-left: 30px;
}

.col {
  width: 200px;
  display: flow-root;
  margin-left: 50px;
  margin-right: 100px;
  margin-top: 80px;
  margin-bottom: -250px;
  font-size: 20px;
  color: black;
}
#about{
  float: left;
  text-align: center;
  padding-right: 25px;
  padding-top: 6px;
  padding-left: -3px;
  padding-bottom: 9px;
  border: 2px solid black;
  width: 143px;
  height: 30px;
  margin-top: -8px;
  margin-left: -1px;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: black;
}
